/* 
    Project       : Bachelor Thesis - Sudoku game implementation as portlet
    Document      : style.css
    Author        : Ondřej Fibich <xfibic01@stud.fit.vutbr.cz>
    Organization: : FIT VUT <http://www.fit.vutbr.cz>
*/

/*** VIEW mode ***/

.sudoku-game_container
{
    width: 100%;
    height: 100%;
}

/* VIEW mode - toolbar --> */

.sudoku-game_toolbar
{
    padding: 2px;
    background: url(../images/layout/toolbar_bg.png);
    background-repeat: repeat-x;
}

.sudoku-game_toolbar a
{
    display: block;
    float: left;
    margin: 2px;
    padding: 3px;
}

.sudoku-game_toolbar a img
{
    width: 16px;
    height: 16px;
    border: none;
}

.sudoku-game_toolbar a span
{
    
}

/* <-- VIEW mode - toolbar */

/* VIEW mode - body --> */

.sudoku-game_body
{
    padding: 2px;
}

.sudoku-game_board
{
    border: 2px solid #a6a6a6;
    
    /* CSS3 - border */
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sudoku-game_state-maximized .sudoku-game_board
{
    width: 49%;
    float: left;
}

.sudoku-game_board table td
{
    border: 1px solid #a6a6a6;
    vertical-align: middle;
}

.sudoku-game_board table td input
{
    width: 95%;
    height: 100%;
    font-size: 13px;
    border: none;
    text-align: center;
    outline: none;
}

.sudoku-game_board table td.sudoku-game_readonly-input,
.sudoku-game_board table td.sudoku-game_readonly-input input
{
    background-color: #f2f2f2;
}

.sudoku-game_board table td.sudoku-game_field-error
{
    background-color: #fe9494 ! important;
}

.sudoku-game_board table td.sudoku-game_field-error input
{
    background-color: #fe9494 ! important;
    color: #870119;
}

.sudoku-game_statistics
{
    display: none;
    border: 2px solid #a6a6a6;
    
    /* CSS3 - border */
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sudoku-game_state-maximized .sudoku-game_statistics
{
    display: block;
    width: 49%;
    float: right;
}

.sudoku-game_statistics-item
{
    padding: 5px;
    background: url(../images/layout/toolbar_bg.png);
    background-repeat: repeat-x;
}

.sudoku-game_statistics-item-header
{
    padding: 2px 2px 4px 2px;
    border-bottom: 1px solid #ebebeb;
    font-weight: bold;
}

.sudoku-game_statistics-item-body
{
    padding: 2px;
}

.sudoku-game_statistics-item-body table
{
    margin: 5px;
}

.sudoku-game_statistics-item-body table tr th
{
    text-align: left;
    font-size: 90%;
}

.sudoku-game_statistics-item-body table tr td
{
    text-align: left;
    font-size: 90%;
}

.sudoku-game_statistics-item-body ul
{
    margin: 0.5em 0;
    padding-left: 22px;
    font-size: 90%;
}

.sudoku-game_statistics-item-body strong
{
    display: block;
    margin: 0.8em 0 0.5em 0;
}

.sudoku-game_dialog-new-first-step-loader
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    background: white;
    text-align: center;
}

.sudoku-game_dialog-new-first-step-loader img
{
    margin-top: 20px;
}

table.sudoku-game_input-hint
{
    display: none;
    position: absolute;
    margin: -19px 0 0 -14px;
    z-index: 1;
    font-size: 9px;
}

table.sudoku-game_input-hint td
{
    border-width: 0;
    vertical-align: middle;
    text-align: center;
    background: none ! important;
}

table.sudoku-game_input-hint td span, 
table.sudoku-game_input-hint td .sudoku-game_input-hint-close
{
    padding: 0 4px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    border: 1px solid #a6a6a6;
    
    /* CSS3 - border */
    -moz-border-radius: 4px;
    border-radius: 4px;
}

table.sudoku-game_input-hint td .sudoku-game_input-hint-close
{
    height: 15px;
    background: url(../images/icons/close_10x10.gif);
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
}

table.sudoku-game_input-hint td span:hover,
table.sudoku-game_input-hint td .sudoku-game_input-hint-close:hover
{
    border-color: black;
}

/* <-- VIEW mode - body */

/* VIEW mode - footer --> */

.sudoku-game_footer
{
    clear: both;
    padding: 2px;
}

span.sudoku-game_footer-timer
{
    display: block;
    height: 16px;
    float: left;
    margin: 1px;
    padding: 2px;
    font-weight: bold;
    font-size: 130%;
    line-height: 16px;
}

a.sudoku-game_footer-statistics,
a.sudoku-game_footer-pause,
a.sudoku-game_footer-play,
a.sudoku-game_footer-show-game
{
    display: block;
    height: 16px;
    float: left;
    margin: 1px;
    padding: 2px;
    padding-left: 20px;
    background-position: 2px center;
    background-repeat: no-repeat;
    
    /* CSS3 - border */
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.sudoku-game_footer-pause
{
    background-image: url(../images/icons/pause_16x16.png);
}

a.sudoku-game_footer-play
{
    display: none;
    background-image: url(../images/icons/play_16x16.png);
}

a.sudoku-game_footer-statistics
{
    float: right;
    background-image: url(../images/icons/stats_16x16.png);
}

a.sudoku-game_footer-show-game
{
    display: none; /* displayed by JavaScript on demand */
    float: right;
    background-image: url(../images/icons/game_16x16.png);
    font-weight: bold;
}

/* <-- VIEW mode - footer */

/*** EDIT mode ***/

.sudoku-game_edit
{
    padding: 5px;
    background: url(../images/layout/toolbar_bg.png);
    background-repeat: repeat-x;
}

.sudoku-game_edit table tr td
{
    vertical-align: middle;
}

.sudoku-game_edit table tr td b
{
    display: block;
    height: 20px;
    padding-top: 5px;
}

a.sudoku-game_edit-tab-button, a.sudoku-game_edit-tab-button-active
{
    display: block;
    float: left;
    position: relative;
    top: 1px;
    margin-left: 4px;
    padding: 4px 8px 2px 8px;
    border: 1px solid #ccc;
    background: white;
    color: #444;
}

a.sudoku-game_edit-tab-button:hover, a.sudoku-game_edit-tab-button-active
{
    border-bottom-color: white;
    color: black;
}

a.sudoku-game_edit-tab-button-active
{
    cursor: default;
}

.sudoku-game_edit-tab
{
    clear: both;
    padding: 5px 8px;
    border: 1px solid #ccc;
    background: white;
}

.sudoku-game_edit-colorpicker
{
    position: relative;
    width: 36px;
    height: 36px;
}

.sudoku-game_edit-colorpicker div
{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: url(../images/colorpicker/select2.png) center;
}


.sudoku-game_edit-colorpicker-disabled div
{
    background: url(../images/colorpicker/select2_disabled.png) center;
}

/*** HELP mode ***/


/*** for all ***/

.sudoku-game_cleared
{
    clear: both;
}

a.sudoku-game_button
{
    border: 1px solid #a6a6a6;
    color: #363636;
    background-color: white;
    
    /* CSS3 - border */
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.sudoku-game_button:hover
{
    /* CSS3 - shadow */
    -webkit-box-shadow: 0 0 1px 1px #ccc;
    -moz-box-shadow: 0 0 1px 1px #ccc;
    box-shadow: 0 0 1px 1px #ccc;
}

a.sudoku-game_button-disabled
{
    cursor: default;
    opacity: 0.5;
}

a.sudoku-game_button-disabled:hover
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}