<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    Project       : Bachelor Thesis - Sudoku game implementation as portlet
    Document      : web.xml
    Author        : Ondřej Fibich <xfibic01@stud.fit.vutbr.cz>
    Organization  : FIT VUT <http://www.fit.vutbr.cz>
-->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <display-name>sudoku</display-name>
    
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <persistence-unit-ref>
        <persistence-unit-ref-name>persistence-factory</persistence-unit-ref-name>
        <persistence-unit-name>sudoku_db</persistence-unit-name>
    </persistence-unit-ref>
    
    <persistence-unit-ref>
        <persistence-unit-ref-name>persistence-factory</persistence-unit-ref-name>
        <persistence-unit-name>sudoku_db_testing</persistence-unit-name>
    </persistence-unit-ref>
    
    <jsp-config>
        
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/META-INF/c-1_0-rt.tld</taglib-location>
        </taglib>
    
    </jsp-config>
    
</web-app>
